langchain 
langgraph  
langchain-core 
langchain-community 
langchain-openai
python-dotenv
langchain-groq
beautifulsoup4
faiss-cpu
wikipedia
arxiv
pymupdf
langchain-text-splitters
langchain-classic
langchain-tavily
langgraph-supervisor
langchain-experimental
langchainhub
